body{
font-family: arial;


}

main {
margin-top: 60px;
display:grid;
grid-template-columns: 10% auto 10%;
grid-template-rows: auto auto auto auto auto;
justify-content:center;
}

main img{
    
grid-column: 2;
grid-row:2;
justify-self:center;
}

main form {
    margin-top: 50px;
    display: grid;
 
grid-column:2;
grid-row-start:3;
justify-self:center;
grid-template-rows: auto auto;
grid-template-columns: auto auto;
justify-content:center;
}

main form button{
margin-top: 20px;
border-radius: 4px;
height: 36px;
width:128px;
color:grey;
border: 1px solid #eee9e9;
background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
}

main form button:hover{
    color:black;
    cursor: pointer;
    }

main a {
padding-left: 10px;

}



.btn1{
grid-column: 1;
margin-left: 160px;
justify-self:center;
}
.btn2{
    grid-column: 2;
    justify-self:center;
    margin-right: 160px;
    }
    

main p{
margin-top: 30px;
grid-row: 5;
grid-column: 2;
justify-self:center;
font-size:small;
}


#searchbar {
    width: 600px;
    height: 30px;
    grid-column: span 2;
    border-radius:30px;
    border-width:1px;
    border-color:#f2f2f2;
}

#searchbar:hover{
    box-shadow: 0px 0px 8px -1px rgba(181,179,181,1);

}

main form button {
grid-row-start:2;



}

footer{
    display:grid;
    position:fixed;
    bottom:0;
    background-color:#f2f2f2;
    width: 100%;
    color:#717171;
    grid-template-rows: 40px 40px;
grid-template-columns: auto auto auto;
margin-left: -10px;
border-bottom:#e4e4e4 1px solid;
border-top:#e4e4e4 1px solid;
font-size: small;
    }

footer a{
    color:#717171;
    text-decoration:none;
    padding-left: 15px;
}

footer a:hover{
    color:black;
    text-decoration: underline;
    cursor: pointer;
}


#nav1 {
    display: flex;
    align-items:center;
    grid-column-start: 1;

    
margin-left: 20px;

}

#nav2 {
    display: flex;
    align-items:center;
grid-column-start: span 2;
grid-row-start: 2;
border-top:#e4e4e4 1px solid;


margin-left: 5px;


}

#nav3 {
    display: flex;
    align-items:center;
    justify-content:flex-end;
    border-top:#e4e4e4 1px solid;
    grid-column-start: 3;
    grid-row-start:2;
    margin-right:  10px;
    
    
}
    
    