body{
font-family: arial;


}

main {
margin-top: 60px;
display:grid;
grid-template-columns: 10% auto 10%;
grid-template-rows: auto auto auto auto auto;
justify-content:center;
}

main img{
    
grid-column: 2;
grid-row:2;
justify-self:center;
}

main form {
    margin-top: 50px;
    display: grid;
 
grid-column:2;
grid-row-start:3;
justify-self:center;
grid-template-rows: auto auto;
grid-template-columns: auto auto;
justify-content:center;
}

main form button{
margin-top: 20px;
border-radius: 4px;
height: 36px;
width:128px;
color:grey;
border: 1px solid #eee9e9;
background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
}

main form button:hover{
    color:black;
    }



.btn1{
grid-column: 1;
margin-left: 160px;
justify-self:center;
}
.btn2{
    grid-column: 2;
    justify-self:center;
    margin-right: 160px;
    }
    

main p{
margin-top: 30px;
grid-row: 5;
grid-column: 2;
justify-self:center;
font-size:small;
}


#searchbar {
    width: 600px;
    height: 30px;
    grid-column: span 2;
    border-radius:30px;
    border-width:1px;
    border-color:#f2f2f2;
}

#searchbar:hover{
    box-shadow: 0px 0px 8px -1px rgba(181,179,181,1);

}

main form button {
grid-row-start:2;



}